{% extends 'front/base.html.twig' %}

{% block body %}
    {% if app.request.hasPreviousSession %}
    <div class="messages">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                {% if type == 'danger' %}
                    <div class="alert alert-dismissible alert-{{ type}} fade show" role="alert" style="text-align:center;">
                        {{ message|trans }}
                    </div>
                {% else %}
                    <div class="alert alert-dismissible alert-{{ type}} fade show" role="alert" style="text-align:center;">
                        {{ message|trans }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <h1>Mot de passe oublié</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-secondary">Réinitialiser</button>
    <p class="text-center mt-5">
        <span class="text-primary"><a href="{{ path('app_login') }}">Retour à la connexion</a></span>
    </p>
    {{ form_end(form) }}
{% endblock %}