{% extends 'front/base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <div class="rounded d-flex justify-content-center center-flex-reset-password">
        <div class="card login-form">
            <div class="text-center text-danger">
                {% for notice in app.flashes('danger') %}
                    {{ notice }}
                {% endfor %}
            </div>
            <div class="text-center text-success">
                {% for success in app.flashes('success') %}
                    {{ success }}
                {% endfor %}
            </div>
            <div class="card-body">
                <h3 class="card-title text-center">Réinitialisation de mot de passe</h3>
                <div class="card-text">
                    {{ form_start(requestPassForm) }}
                    {{ form_row(requestPassForm.email) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                    {{ form_end(requestPassForm) }}
                </div>
                <p class="text-center mt-5">
                    <span class="text-primary"><a href="{{ path('app_login') }}">Retour au formulaire de connexion</a></span>
                </p>
            </div>
        </div>

    </div>
{% endblock %}